@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #E6F7FF;
}

h1{
    font-family: 'Bangers', cursive;
    font-size: 48px;
    letter-spacing: 2px;
    color: #333333;
    font-weight: 600;
}

#game-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#game-container .player i{
    font-size: 100px;
}

#game-container .player p{
    font-size: 20px;
    margin-top: 20px;
}

#game{
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    /* background-color: aqua; */
    margin: 50px auto;
    /* gap: 50px; */
}

.game-box{
    width: calc(33% - 4px - 40px);
    background-color: #75BAC5;
    border-radius: 10px;
    /* border: 2px solid blue; */
    /* width: 50px; */
    height: 100px;
    margin: 5px 5px;
    color: white;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.unoccupied:hover{
    background-color: #494D58;
    color: #8A8E9B;
}

.occupied{
    cursor: not-allowed;
}

.circle{
    background-color: #EEAC51;
}

.cross{
    background-color: #DF665B;
}